<app-admin-navbar></app-admin-navbar>

<div class="animation spinnContainer">      
    <span class="screenLoaderAdmin"></span>
  </div>
  

<div class="container adminT" *ngIf="userData != '' else other_content">
    <button class="btn btn-primary mt-3 btnAdd" routerLink="/addUser" >Add User</button>
    
    <table class="table table-striped table-bordered text-center mt-3">
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>User Type</th>
    
        </thead>
        <tbody>
            
            <tr *ngFor="let user of userData | paginate:{itemsPerPage: tableSize,currentPage:page,totalItems:count}; let i=index">
                <td>{{user?.first_name}}</td>
                <td>{{user?.last_name}}</td>
                <td>{{user?.username}}</td>
                <td>{{user?.login_type}}</td>
             <!-- <td>
                
                  
                    <button class="btn btn-danger" >Delete</button>
                    <button class="btn btn-success">Edit</button>
                
             </td> -->
            </tr>
           
        </tbody>
    </table>
    <pagination-controls previousLabel="prev" nextLabel="Next" (pageChange)="onDataChange($event)">
  
    </pagination-controls>
    </div>

    <ng-template #other_content>
  
        <div class="container noData" >
      
      No Users Exist
      
        </div>

      </ng-template>
    <app-admin-footer></app-admin-footer>