<!-- <div class="container" style="margin-bottom: 85px;">

   

    <div>

        <table class="table cartTable">
       
            <tbody>
                
              <tr>
                
                <td><img src="assets/images/bottlelarge.png" alt="" width="100%"></td>
                <td>Drug1 Name</td>
                <td>150LE</td>
                <td>2</td>
                <td>300LE</td>
                <td><button class="btn btn-danger btnCheckAvail" style="background-color: #d37f83;
                    border: none;">Add To Cart</button></td>
              </tr>
              <tr>
               
                <td><img src="assets/images/green.png" alt="" width="100%"></td>
                <td>Drug2 Name</td>
                <td>200LE</td>
                <td>3</td>
                <td>600LE</td>
                <td><button class="btn btn-danger" style="background-color: #d37f83;
                    border: none;">Add To Cart</button></td>
              </tr>
              <tr>
              
                <td><img src="assets/images/orange.png" alt="" width="100%"></td>
                <td>Drug1 Name</td>
                <td>300LE</td>
                <td>4</td>
                <td>1200LE</td>
                <td><button class="btn btn-danger" style="background-color: #d37f83;
                    border: none;">Add To Cart</button></td>
              </tr>
            </tbody>
          </table>


    </div>






    </div>



 <!-- <div>


  <img src="assets/images/branch.jpg" alt="">
 </div> -->

    <!-- <div class="container " id="branchSection" style="margin-bottom: 150px;margin-top: 50px; display: none;    
    padding: 25px 0px 50px 0px;
    background-color: #f6f6f6;border-radius: 10px;">
<h3 class="text-center" style="    margin-bottom: 45px;color: #825E60;">Available Branches</h3>

      <div class="row g-4" style="justify-content: center;">
        

        
        <div class="col-12 col-md-6 col-lg-4">
        <div class="card  branchCard" style="width: 18rem;padding: 0px;  margin: 0 auto;">
          <div class="frontBranch" style="position: relative;">
            <img src="assets/images/store.jpg" class="card-img-top" alt="..." style="width: 100%;height: 100%;object-fit: fill;filter: brightness(70%);border-radius: 5px;">
             <div style=" position: absolute;
             display: flex;
             justify-content: center;
             width: 100%;
             height: 100%;
             align-items: center;top:0;color: white;">
             <h3 >Cairo Branch</h3>
              
          </div>
            </div>
            <div class="cardText backBranch" style="border-radius: 5px;">
              <form class="purchaseForm">
                <div class="mb-3">
                  <input type="number" class="form-control text-center" id="quantity" placeholder="Quantity" min="1" >
                </div>
             <div class="text-center">

            
                <button type="submit" class="btn btn-primary" style="background-color: #D37F83;
                border: none;">Transfer</button>
                 </div>
              </form>      
            
            </div>
        </div>
      </div>
      
             
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card  branchCard" style="width: 18rem;padding: 0px;  margin: 0 auto;">
          <div class="frontBranch" style="position: relative;">
            <img src="assets/images/store.jpg" class="card-img-top" alt="..." style="width: 100%;height: 100%;object-fit: fill;filter: brightness(70%);border-radius: 5px;">
             <div style=" position: absolute;
             display: flex;
             justify-content: center;
             width: 100%;
             height: 100%;
             align-items: center;top:0;color: white;">
             <h3 >Giza Branch</h3>
              
          </div>
            </div>
            <div class="cardText backBranch" style="border-radius: 5px;">
              <form class="purchaseForm">
                <div class="mb-3">
                  <input type="number" class="form-control text-center" id="quantity" placeholder="Quantity" min="1" >
                </div>
             <div class="text-center">

            
                <button type="submit" class="btn btn-primary" style="background-color: #D37F83;
                border: none;">Transfer</button>
                 </div>
              </form>      
            
            </div>
        </div>
      </div>
      
      
      </div> --> 
