<app-admin-navbar></app-admin-navbar>


<div class="container adminContainer">

    <h3 class="formTitle">Store Form</h3>
    <h6 *ngIf="msg !='' ">{{msg?.message}}</h6>

    <form class="registerForm" [formGroup]="userstore" (ngSubmit)="adduserstore()">
     
<div class=" row">
<div class="form-group mb-4 col-md-6">
            
    <select class="form-select" aria-label="Default select example"  style="height: 60px;" formControlName="user_id">
        <option value={{user.id}} selected *ngFor="let user of userData">{{user.first_name}}</option>
       
      </select>
 <div *ngIf="isSubmitted||(user_id?.invalid && (user_id?.dirty || user_id?.touched))">
    <ul class="inputError mt-1">
        <li *ngIf="user_id?.errors?.['required']">User ID is Required</li>
      
    </ul>

</div>

</div> 





</div>



<div  class=" row">
 <div  class=" form-group mb-4 col-md-6">
    
    <div class=" form-group mb-4">
        <select class="form-select" aria-label="Default select example"  style="height: 60px;" formControlName="store_id">
            <option value={{stores.id}} selected *ngFor="let stores of storesData">{{stores.store_name}} </option>
           
          </select>
        <div *ngIf="isSubmitted||(store_id?.invalid && (store_id?.dirty || store_id?.touched))">
            <ul class="inputError mt-1">
                <li *ngIf="store_id?.errors?.['required']">Store ID is Required</li>
               
            </ul>
        
        </div>
    </div>
        
        </div>



      
        </div>
        
 
        
        

        
        <div><button type="submit" class="btn btn-primary btnAdd">Add</button></div>
    </form>
    </div>

    <app-admin-footer></app-admin-footer>