<app-admin-navbar></app-admin-navbar>


<div class="container adminContainer">

    <h3 class="formTitle">Category Form</h3>
    <h6 *ngIf="msg !='' ">{{msg?.message}}</h6>
    <form class="registerForm" [formGroup]="category" (ngSubmit)="addCategory()">
     
<div class=" row">
<div class="form-group mb-4 col-md-6">
            
 <input type="text" id="className"  formControlName="className" placeholder="Class Name" class="form-control"  >

 <div *ngIf="isSubmitted||(className?.invalid && (className?.dirty || className?.touched))">
    <ul class="inputError mt-1">
        <li *ngIf="className?.errors?.['required']">Class Name is Required</li>
       
    </ul>

</div>

</div> 

</div>


        
        <div><button type="submit" class="btn btn-primary btnAdd">Add</button></div>
    </form>
    </div>

    <app-admin-footer></app-admin-footer>